/*
 * @Description: 全局css
 * @Author: hanzhiwei
 * @Date: 2020-10-08 13:44:33
 * @LastEditTime: 2021-05-17 19:47:13
 * @FilePath: \warbler-homepage\src\styles\index.scss
 */
@import "./transition_vue.scss";
:root {
  --primary: #8394c0;
  --borderLightColor: #ebeef5;

  --theme-main: #2f3e4c;
  --theme-success: #52de97;
  --theme-danger: rgba(52, 94, 185, 0.6);
  --theme-info: #9ed0ff;
  --theme-wrning: #ffdd98;
  --color-text: #2f3e4c;
  --color-text-placeholder: #2f3e4c;
  --color-mark-title: #2f3e4c;
  --color-mark-title-hover: rgba(36, 138, 112, 0.3);
  --color-label-title: #3f1661;
  --color-label-title-hover: rgba(85, 43, 184, 0.2);
  --color-label-title-click: rgba(85, 43, 184, 0.4);
  --color-label-color-hover: rgb(209, 152, 87);

  --button-bg-color: rgba(16, 143, 111, 0.3);
  --glassmorphism-rgb: 255, 255, 255;
  --glassmorphism-opacity: 0.25;
  --glassmorphism-rgba: rgba(
    var(--glassmorphism-rgb),
    var(--glassmorphism-opacity)
  );
  --glassmorphism-filter: blur(10px);
  --glassmorphism-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
  // 防止选取文本
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  // background: linear-gradient(
  //   135deg,
  //   hsl(170deg, 80%, 70%),
  //   hsl(190deg, 80%, 70%),
  //   hsl(250deg, 80%, 70%),
  //   hsl(320deg, 80%, 70%)
  // );
  // background-size: 200% 200%;
  // animation: gradient-move 5s ease infinite alternate;
  // color: var(--color-text);
  font-family: Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

// square的样式
.square {
  width: 25%;
  .square_icon {
    width: 110px;
    height: 110px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }
  .square_text {
    font-size: 14px;
    transition: 0.5s;
  }
  &:hover img {
    transform: scale(1.3);
  }
}

.rectangle {
  background: rgba(255, 255, 255, 0.55);
  width: 45%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 20px 0 rgba(31, 38, 135, 0.37);
  }
  .rectangle_left {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .rectangle_right {
    width: calc(100% - 110px);
  }
  .rectangle_title {
    font-size: 23px;
  }
  .rectangle_msg {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 100%;
  }
}
