/*
 * @Description: 全局css
 * @Author: hanzhiwei
 * @Date: 2020-10-08 13:44:33
 * @LastEditTime: 2021-05-17 19:47:13
 * @FilePath: \warbler-homepage\src\styles\index.scss
 */
@import "./transition_vue.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
  // 防止选取文本
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  // background: linear-gradient(
  //   135deg,
  //   hsl(170deg, 80%, 70%),
  //   hsl(190deg, 80%, 70%),
  //   hsl(250deg, 80%, 70%),
  //   hsl(320deg, 80%, 70%)
  // );
  // background-size: 200% 200%;
  // animation: gradient-move 5s ease infinite alternate;
  // color: var(--color-text);
  font-family: Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

:root {
  --primary: #8394c0;
  --borderLightColor: #ebeef5;
}

// square的样式
.square {
  width: 25%;
  .square_icon {
    width: 110px;
    height: 110px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }
  .square_text {
    font-size: 14px;
    transition: 0.5s;
  }
  &:hover img {
    transform: scale(1.3);
  }
}
